*{
	margin: 0;
	padding: 0;
}
/* NAVBAR */
.ul-links{
	color: $gris-oscuro-titulos;
	font-size: 13px;
	font-weight: bold;
	padding-bottom: 50px;
	position: relative;
	bottom: 80px;
}
nav{
	.row{
		div{
			.img-google{
				position: relative;
				left: 460px;
			}
		}
		div{
			h2{
				color: $gris-oscuro-titulos;
				position: relative;
				top: 45px;
				right: 20px;
				font-size: 36px;
			}
		}
	}
	.navnav{
		ul{
			li{
				.nav-link{
					margin-left: 400px;
					@extend .ul-links;
				}
				.nav-links{
					@extend .ul-links;
				}
			}
		}
	}
}
[class*="col-"]{
	padding-bottom: 20px;
}
/*IMAGEN PRINCIPAL*/
.texto{
	color: $gris-texto;
	padding-bottom: 10px;
}
.first-section{
	.row{
		div{
			h3{
				@extend .texto;
			}
			h4{
				font-size: 14px;
				font-weight: bold;
				@extend .texto;
			}
			.parrafo{
				font-size: 13px;
				@extend .texto;
			}
			h5{
				font-size: 13px;
				@extend .texto;
				font-family: $font-fechas;
			}
		}
	}
}
/*NEWSFEED*/
.second-section{
	.row{
		div{
			h4{
				@extend .texto;
			}
			h5{
				position: relative;
				top: 10px;
				font-family: $font-fechas;
			}
			h3{
				@extend .texto;
				font-weight: bold;
				font-size: 18px;
			}
			p{
				margin-top: 10px;
				@extend .texto;
			}
		}
	}
	.row{
		.contact{
			.texto-stayup{
				background-color: $gris-claro;
				font-size: 13px;
				font-weight: bold;
				width: 550px;
				padding: 10px 0px 10px 20px;
				a{
					.right-block{
					position: relative;
					left: 250px;
					bottom: 10px;
					}
				}
			}
		}
	}
}
/* SECCION IMAGENES */
.third-section{
	.row{
		div{
			.row{
				div{
					h4{
						@extend .texto;
					}
					p{
						@extend .texto;
						position: relative;
						bottom: 15px;
					}
					h5{
						font-family: $font-fechas;
						@extend .texto;
					}
				}
			}
		}
	}
}